.Home {
  text-align: center;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Left {
  flex: 0 1 auto;
}

.Right {
  flex: 0 1 auto;
}

.Content {
  flex-direction: column;
  justify-content: flex-start;
}

.Box {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 302px;
  min-height: 302px;
  max-width: 300px;
  flex-basis: 300px;
  margin-top: 100px;
}

.item_1 {
  align-self: flex-start;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
}

.item_2 {
  align-self: flex-end;
}

.Name {
  margin-top: 50px;
  font-size: 40px;
  text-align: left;
}

.Tip {
  color: gray;
  text-align: left;
}

.Remark {
  color: gray;
}

.SubTitle {
  text-align: left;
  font-size: 25px;
}

.SubDetail {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 15px;
  color: gray;
}
.UrlLink {
  color: blue;
}
