
.Page {
  text-align: center;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Title {
  flex-basis: 55px;
  margin-left: 100px;
  margin-right: 100px;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.Title .Left {
  text-align: left;
  font-size: 20px;
}

.Step {
  margin-top: 20px;
  margin-left: 100px;
  text-align: left;
  font-size: 20px;
}


.DraggerBox {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.JiraListBox {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

.Jira {
  margin-top: 15px;
  margin-right: 15px;
  flex: 1;
  flex-direction: row;
  display: flex;
}

.JiraText {
  flex: 0.7;
}

.JiraIcon {
  font-size: 20px;
  margin-left: 10px;
}

.Button {

}
